/*hero*/

#hero{
    background-color: #E7D2CC;
    background-image: url(../images/tunisia.jpg);

    
    color: #050A30;
    text-align: center;
    padding: 10px;
    height: 300px;
    position: relative;
    width: 98.5%;

   
    

    

    
}
#hero .herotitle{
background-color: black;

padding: 4px ;
color: white;
opacity: 0.5;
margin-top: 70px;

position: absolute ;
top: 3em ;
right: 0.1em;
width: 100%;

}
body{
    padding: 0;
    margin: 0;

}
#hero h1{
    font-size: 45px;
}
#hero p {
    font-size: 35px ;
}
/*navbar*/
.menu{
    list-style-type: none;
    padding: 0;
    
    margin: 0;
    background-color: #000;



    

    ;
}
.menu li {
    display: inline-block;
    margin: 20px;
    font-size: 20px;
    padding-right: 10px;
    border-right: 1px solid white ;
    color: white;
}

/*trips section */

#trips article{
    max-width: 100%;
    border: 0.1em solid #B9B7BD ;
    border-radius: 2em ;
    margin: 1rem;




}
#trips h3 {
    font-size: 1.4rem;
    margin: 0.5em  0;
}
.trips-container article img {
    width: 100%;
    height: 17rem;
    border-top-left-radius:2em ;
    border-top-right-radius: 2em;

}
#trips .summary{
    padding: 1rem;
}
#trips p{
    font-size: 1rem;
    line-height: 1.5em;
}

#trips h2{
    font-size: 3.5rem;
    margin: 0.2em;
}
#trips{
    padding: 0.5em;

}

@media screen and (min-width: 1024px )and( max-width: 1400px){
    #trips article{
        width: 45%;
    }

}
@media screen and (min-width: 1024px ){
    #trips article{
        max-width: 30%;
    }

}
.trips-container{
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;

}
footer {
    font-size: 1rem;
    margin: 1rem 0;
    padding: 0.8rem;
    background-color: black;
    color: white;
    background-image: url(../images/footer.jpg);


}
footer label{
    width: 3rem;
    margin: 0.5em 0 ;
    display: block;


}
footer div{
    margin: 0.5em 0;
    width: 5rem;

}
.button{
    background-color: #1E90FF;
    color: white;
    border: 0;
    padding: 0.5em 1em;

}
a{
    margin: 1em;
    float: left;
    text-decoration: none;
}
.button:hover{
    background-color: #050A30;
}





